:root {
  --primary: #b11217;
}

body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to bottom,
      #bfe6ff,
      #eaf6ff);
}

.auth-card {
  width: 100%;
  max-width: 380px;

  background: rgba(255, 255, 255, 0.85);
  backdrop-filter: blur(10px);

  border-radius: 20px;
  padding: 1.5rem 2rem;

  box-shadow: 0 30px 60px rgba(0, 0, 0, 0.12);
  text-align: center;
}

.auth-icon {
  width: 42px;
  height: 42px;
  margin: 0 auto 1rem;
  border-radius: 12px;
  background: #f1f3f5;
  display: flex;
  align-items: center;
  justify-content: center;
}

.auth-icon i {
  transform: rotate(-45deg);
}

h1 {
  font-size: 1.4rem;
  margin-bottom: 0.5rem;
}

.subtitle {
  font-size: 0.85rem;
  color: #666;
  margin-bottom: 2rem;
}

.field {
  position: relative;
  margin-bottom: 1.4rem;
  text-align: left;

}

.field-label {
  display: block;
  margin-bottom: 4px;
  font-size: 0.75rem;
  color: #555;
  margin-left: 2px;
}

.error {
  position: absolute;
  left: 0;
  bottom: -16px;
  font-size: 0.75rem;
  color: var(--primary);
}

.field i {
  position: absolute;
  left: 14px;
  top: calc(1.6rem + 17px);
  transform: translateY(-50%);
  color: #888;
  font-size: 0.85rem;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
}

input {
  width: 100%;
  height: 40px;
  padding: 0 2.5rem 0 2.2rem;
  border-radius: var(--radius-sm);
  border: 1px solid #ddd;
  font-size: 0.85rem;
}

input:focus {
  border-color: var(--primary);
  outline: none;
}

.eye {
  position: absolute;
  right: 30px;
  top: calc(1.6rem + -22px);
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  color: #888;
}

.forgot {
  background: none;
  border: none;
  padding: 0;
  margin: 0.5rem 0 1.2rem;
  font-size: 0.75rem;
  color: #555;
  text-align: right;
  width: 100%;
  cursor: pointer;
}

.btn {
  position: relative;
  width: 100%;
  height: 44px;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  border-radius: 10px;
  border: none;
  cursor: pointer;
}

.btn.primary {
  text-align: center;
  width: 100%;
  height: 35px;
  border-radius: var(--radius-sm);

  color: var(--color-light);
  background-color: var(--color-primary);
  border: none;
  cursor: pointer;
  font-size: 0.85rem;
}

.btn-outline {
  margin-top: 0.75rem;

  width: 100%;
  height: 35px;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  border-radius: var(--radius-sm);
  border: 1.5px solid var(--primary);

  background: transparent;
  color: var(--primary);

  font-size: 0.85rem;
  text-decoration: none;

  cursor: pointer;
  transition: all 0.25s ease;
}

.btn-outline:hover {
  background: var(--primary);
  color: var(--color-light);
}

.divider {
  margin: 1.5rem 0;
  font-size: 0.7rem;
  color: #aaa;
  position: relative;
}

.divider::before,
.divider::after {
  content: "";
  position: absolute;
  top: 50%;
  width: 30%;
  height: 1px;
  background: #ddd;
}

.divider::before {
  left: 0;
}

.divider::after {
  right: 0;
}

.social-login {
  display: flex;
  justify-content: center;
  gap: 0.8rem;
}

.social-login button {
  width: 36px;
  height: 36px;
  border-radius: var(--radius-sm);
  border: 1px solid #ddd;
  background: var(--color-light);
  cursor: pointer;
  color: var(--primary);
}

.loader {
  width: 18px;
  height: 18px;
  border: 2px solid rgba(255, 255, 255, 0.4);
  border-top-color: var(--color-light);
  border-radius: 50%;
  animation: spin 0.8s linear infinite;
  display: none;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.btn-text {
  position: absolute;
}

.btn.loading .btn-text {
  visibility: hidden;
}

.btn.loading .loader {
  display: block;
}

/* media query  */

@media (max-width: 600px) {
  .auth-card {
    max-width: 330px;
  }
}

@media (max-width: 1024px) and (min-width: 768px) {

  body {
    padding: 2rem;
  }

  .auth-card {
    max-width: 500px;
    padding: 2rem 2.25rem;
    border-radius: 18px;
  }

  h1 {
    font-size: 1.5rem;
  }

  .subtitle {
    font-size: 0.9rem;
  }

  input {
    font-size: 0.9rem;
  }

  .btn.primary {
    height: 46px;
    font-size: 0.95rem;
  }
  .social-login button {
    width: 40px;
    height: 40px;
  }
}